Search: <input ng-model="$ctrl.query" />
	<ul>
		<li ng-repeat="member in $ctrl.members | filter:$ctrl.query">
			<p>First Name: {{member.first_name}}</p>
			<p>Last Name: {{member.last_name}}</p>
			<p>Email: {{member.email}}</p>
		</li>
	</ul>