<!doctype html>
<html lang="en" ng-app="letsapp">
<head>
	<meta charset="utf-8">
	<title>Welcome</title>
	<script src="/app/js/angular.js" type="text/javascript"></script>
	<script src="/app/app.module.js" type="text/javascript"></script>
	<script src="/app/member-list/member-list.module.js" type="text/javascript"></script>
	<script src="/app/member-list/member-list.component.js" type="text/javascript"></script>
</head>
<body>
	<h1>
		---:::::[[[[LETS JS]]]]::::::---
	</h1>


	<p>Nothing here {{'yet' + '!'}}</p>

	<member-list></member-list>






	
</body>
</html>