<!-- FOOTER START -->
<div id="footer" class="fh5co-footer-style-3">
    <div class="container">
        <div class="row p-b">
            <div class="col-md-3 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                <div class="fh5co-logo"><span class="logo">T</span> Takhti</div>
                <p class="fh5co-copyright">&copy; 2016 TAKHTI. <br>All Rights Reserved. <br>Designed by <a target="_blank" href="">LET'S ICA</a> <br>
            </div>
            <div class="col-md-3 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                <h3>Company</h3>
                <ul class="fh5co-links">
                    <li><a href="#">How it Works</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
                <h3>Connect</h3>
                <ul class="fh5co-links fh5co-social">
                    <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i> Dribbble</a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
                <h3>About</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                <p><a href="#" class="btn btn-success btn-sm btn-outline">I'm a button</a></p>
            </div>
        </div>
    </div>
</div>
<!-- END footer -->