<div header></div>
<div id="divForBackground" id="page">
    <div id="wrap" class="content">
        <div id="main" class="container">
            <div id="innerContainer" class="col-sm-8 col-sm-offset-2" style="position:relative;">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <div class="col-md-6 col-md-offset-3 well">
				    <h2>About Takhti</h2>
				    <div class="well">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus convallis, felis sit amet dapibus sodales, turpis metus pulvinar elit, sed ornare ex tellus quis ex. Vivamus mollis arcu sit amet eleifend faucibus. Nunc consequat, lorem in elementum venenatis, metus odio interdum turpis, sed semper risus justo ut eros. Donec at molestie felis. Aliquam finibus porta neque a eleifend. Vivamus id ipsum molestie, ullamcorper nibh vel, imperdiet diam. Sed vitae nibh mi. Aliquam ultrices mauris arcu, id sodales dolor dictum nec. Proin lacinia libero eu orci commodo suscipit.

						Nullam ornare in leo in aliquam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla laoreet lectus id tellus vestibulum, non rhoncus quam ultricies. Vivamus nec cursus ligula. Etiam eget neque hendrerit, pharetra metus non, sagittis sapien. Curabitur cursus ullamcorper velit, eu tincidunt odio egestas ut. Aliquam bibendum sollicitudin nisi a consectetur. Nunc quis tortor aliquam, tempus justo sed, condimentum nibh. Quisque elementum dui laoreet ornare mollis. Aenean faucibus porttitor leo, eget dapibus nisi iaculis eget. Maecenas congue volutpat hendrerit. Fusce consequat vestibulum lacus ac mollis. Nam in tellus ac sapien volutpat consectetur ut id lacus. Aliquam ac felis sed erat ultrices mollis nec sed erat. Curabitur pulvinar elit in purus iaculis condimentum.

						Nullam ornare in leo in aliquam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla laoreet lectus id tellus vestibulum, non rhoncus quam ultricies. Vivamus nec cursus ligula. Etiam eget neque hendrerit, pharetra metus non, sagittis sapien. Curabitur cursus ullamcorper velit, eu tincidunt odio egestas ut. Aliquam bibendum sollicitudin nisi a consectetur. Nunc quis tortor aliquam, tempus justo sed, condimentum nibh. Quisque elementum dui laoreet ornare mollis. Aenean faucibus porttitor leo, eget dapibus nisi iaculis eget. Maecenas congue volutpat hendrerit. Fusce consequat vestibulum lacus ac mollis. Nam in tellus ac sapien volutpat consectetur ut id lacus. Aliquam ac felis sed erat ultrices mollis nec sed erat. Curabitur pulvinar elit in purus iaculis condimentum.

						Nullam ornare in leo in aliquam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla laoreet lectus id tellus vestibulum, non rhoncus quam ultricies. Vivamus nec cursus ligula. Etiam eget neque hendrerit, pharetra metus non, sagittis sapien. Curabitur cursus ullamcorper velit, eu tincidunt odio egestas ut. Aliquam bibendum sollicitudin nisi a consectetur. Nunc quis tortor aliquam, tempus justo sed, condimentum nibh. Quisque elementum dui laoreet ornare mollis. Aenean faucibus porttitor leo, eget dapibus nisi iaculis eget. Maecenas congue volutpat hendrerit. Fusce consequat vestibulum lacus ac mollis. Nam in tellus ac sapien volutpat consectetur ut id lacus. Aliquam ac felis sed erat ultrices mollis nec sed erat. Curabitur pulvinar elit in purus iaculis condimentum.</p>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>