<div header></div>
<div id="homeBackground" id="page" ng-controller="HomeController">
    <div id="wrap" class="content">
        <div id="main" class="container">
            <div class="row">
                <img class="home-logo" src="app/content/img/logos/takhti.gif" />
            </div>
            <br>
            <div id="innerContainer" class="col-sm-8 col-sm-offset-2" style="position:relative;">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <div class="well">
                    <h1>Hi {{vm.user.firstName}}!</h1>
                    <p>You're logged in!!</p>
                    <h3>All registered users:</h3>
                    <ul>
                        <li ng-repeat="user in vm.allUsers">
                            {{user.username}} ({{user.firstName}} {{user.lastName}})
                            - <a href="#" ng-click="vm.deleteUser(user.id)">Delete</a>
                        </li>
                        <h2>LoggedIn?</h2>
                        <li ng-show="$rootScope.loggedIn">
                            <a class="page-scroll" href="#/">{{vm.user.firstName}} {{vm.user.lastName}}</a>
                        </li>
                        <li ng-hide="$rootScope.loggedIn">
                            <a class="page-scroll" href="#/">None</a>
                        </li>
                    </ul>
                    <p>&nbsp;</p>
                    <p><a href="" class="btn btn-primary" ng-click="vm.logout()">Logout</a></p>
                    <p><a href="#/editUserInfo" class="btn btn-primary">Edit Info</a></p>
                </div>
            </div>
        </div>
    </div>
</div>