html{
	width: 100%;
  	height: 100%;
}
body {
	width: 100%;
  	height: 100%;
  	/*background-image: url(../img/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
}

a {
    /*color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;*/
}

#footer{
	max-height: 450px;
}

.btn {
    border: 0;
    border-radius: 300px;
    /*text-transform: uppercase;*/
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

#wrap {
	/*position: relative;
  	min-height: 100%;*/

  	position: relative;
    width: 100%;
    min-height: auto;
    /*text-align: center;*/
    /*color: #fff;*/
    
}

#main {
	position: relative;
    width: 100%;
    padding: 100px 15px;
    /*text-align: center;*/
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

#innerContainer{
	margin-top: 0;
    margin-bottom: 0;
    /*text-transform: uppercase;*/
    font-weight: 700;
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 20px;
  clear:both;
  padding-top:20px;
}