<div scroll>

<!-- Page's Style Sheet -->
<link rel="stylesheet" ng-href="app/content/css/pages/{{ currPage }}.css">

	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
	    <div class="container-fluid">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand page-scroll" href="#/">TAKHTI</a>
	        </div>

	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	            <ul ng-if="!loggedIn" class="nav navbar-nav navbar-right">
	                <li>
	                    <a class="page-scroll" href="#">Login</a>
	                </li>
	                <li>
	                    <a class="page-scroll" href="#/register">Register</a>
	                </li>
	                <li>
	                    <a class="page-scroll" href="#/about">About</a>
	                </li>
	            </ul>
	            <ul ng-if="loggedIn" class="nav navbar-top-links navbar-nav navbar-right">
	                <li>
	                    <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lg fa-user"></i>&nbsp;{{currentUser.firstName}}</a>
	                    <ul class="dropdown-menu">
						<li class="dropdown"><a href="#/editUserInfo">Account Settings<span class="fa fa-lg fa-cog pull-right"></span></a></li>
						<li class="divider"></li>
						<li class="dropdown"><a href="" ng-click="logout()">Sign Out <span class="fa fa-lg fa-sign-out pull-right"></span></a></li>
						</ul>
	                </li>
	            </ul>
	        </div>
	        <!-- /.navbar-collapse -->
	    </div>
	    <!-- /.container-fluid -->
	</nav>
</div>
